extends ../layout/layout.pug
block vars
	- var title = 'Личные данные';
block header
	include ../includes/header.pug
block content
	include ../includes/content-lk1.pug
block footer
	include ../includes/footer.pug