extends ../layout/layout.pug
block vars
	- var title = 'Избранные товары';
block header
	include ../includes/header.pug
block content
	include ../includes/content-lk2.pug
block footer
	include ../includes/footer.pug