extends ../layout/layout.pug
block vars
	- var title = 'История заказов';
block header
	include ../includes/header.pug
block content
	include ../includes/content-lk3.pug
block footer
	include ../includes/footer.pug