main.main
	.container
		.breadcrumbs
			ul
				li
					a(href="/") Главная
				li -
				li
					span Оформление заказа
		h1.h1 Оформление заказа
		form.order-detail
			.order-detail__left 
				.order-detail__block 
					.order-detail__block-title 
						.order-detail__count 1
						.order-detail__title Тип покупателя и регион доставки 
					.order-detail__block-body 
						.order-detail__block-field 
							.order-detail__block-label Местоположение
								sup *
							.order-detail__block-input.order-detail__block-input_search
								.clear-input
								input(type="text" value="Оренбург, Оренбургская область, Поволжье, Россия")
							.block-info-grey Выберите свой город в списке. Если вы не нашли свой город, выберите «другое местоположение», и напишите свой город

				.order-detail__block 
					.order-detail__block-title 
						.order-detail__count 2
						.order-detail__title Способ доставки 
					.order-detail__block-body 
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="delivery")
							span.custom-radio__span
							span.custom-radio__label Самовывоз — бесплатно
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="delivery")
							span.custom-radio__span
							span.custom-radio__label Курьером — 250 ₽
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="delivery")
							span.custom-radio__span
							span.custom-radio__label По городу Оренбург — 250 ₽
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="delivery")
							span.custom-radio__span
							span.custom-radio__label VIP-доставка — 250 ₽ 
				.order-detail__block 
					.order-detail__block-title 
						.order-detail__count 3
						.order-detail__title Способ оплаты
					.order-detail__block-body 
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="pay")
							span.custom-radio__span
							span.custom-radio__label Наличными при получении
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="pay")
							span.custom-radio__span
							span.custom-radio__label Наличными при самовывозе
						label.custom-radio 
							input.custom-radio__radio(type="radio" name="pay")
							span.custom-radio__span
							span.custom-radio__label Картой на сайте
				.order-detail__block 
					.order-detail__block-title 
						.order-detail__count 4
						.order-detail__title Покупатель
					.order-detail__block-body 
						.order-detail__block-field 
								.order-detail__block-label Ф.И.О.
									sup *
								.order-detail__block-input
									input(type="text" value="")
						.order-detail__block-field 
								.order-detail__block-label E-Mail (необязательно для заполнения)
								.order-detail__block-input
									input(type="email" value="")
						.order-detail__block-field 
								.order-detail__block-label Телефон
									sup *
								.order-detail__block-input
									input(type="tel" value="")
						.order-detail__block-field 
								.order-detail__block-label Адрес доставки
									sup *
								.order-detail__block-input
									textarea()
						.order-detail__block-field 
								.order-detail__block-label Комментарий к заказу:
								.order-detail__block-input
									textarea()
				.order-detail__block 
					.order-detail__block-title 
						.order-detail__title Товары в заказе
					.order-detail__items 
						.order-detail__item-top 
							.order-detail__item-name НАИМЕНОВАНИЕ
							.order-detail__item-sale СКИДКА
							.order-detail__item-price ЦЕНА
							.order-detail__item-count КОЛИЧЕСТВО
							.order-detail__item-summ СУММА
						.order-detail__item 
							.order-detail__item-name 
								.order-detail__item-img
									a(href="")
										img(src="./img/product-big.png" alt="")
								.order-detail__item-desc
									.order-detail__item-artikul Код товара: 74967
									a.order-detail__item-link(href="") Плита индукционная AIRHOT IP3500
							.order-detail__item-sale 0 р.
							.order-detail__item-price 8 926 руб.
							.order-detail__item-count 1 шт.
							.order-detail__item-summ 8 926 руб.
				label.custom-checkbox 
					input.custom-checkbox__checkbox(type="checkbox" name="")
					span.custom-checkbox__span
					span.custom-checkbox__label Даю согласие на обработку своих 
						a(href="") персональных данных
				input.button.button_red(type="submit" value="Перейти к оплате заказа")

			.order-detail__right 
				.order-detail__block-title 
					.order-detail__title Ваш заказ
					a.change-link(href="") ИЗМЕНИТЬ
				.order-detail__options 
					.order-detail__option
						span.order-detail__option-name Товаров на сумму
						span.order-detail__option-dots
						span.order-detail__option-name 8 926 руб.
					.order-detail__option
						span.order-detail__option-name Доставка
						span.order-detail__option-dots
						span.order-detail__option-name Бесплатно
				.order-detail__itog 
					span ИТОГО:
					span 8 926 руб.
