main.main
  .container
    .breadcrumbs
      ul
        li
          a(href="/") Главная
        li -
        li
          a(href="") Индукционные плиты
        li -
        li
          span Название товара
    .product
      .product__flex
        .product__left
          .product-hit
          .product-slider
            .product-slider_for
              .slide
                img(src="./img/product-big.png" alt="")
              .slide
                img(src="./img/product-big.png" alt="")
              .slide
                img(src="./img/product-big.png" alt="")
              .slide
                img(src="./img/product-big.png" alt="")
              .slide
                img(src="./img/product-big.png" alt="")
              .slide
                img(src="./img/product-big.png" alt="")
            .product-slider_nav
              .slide-min
                img(src="img/product-big.png" alt="")
              .slide-min
                img(src="img/product-big.png" alt="")
              .slide-min
                img(src="img/product-big.png" alt="")
              .slide-min
                img(src="img/product-big.png" alt="")
              .slide-min
                img(src="img/product-big.png" alt="")
              .slide-min
                img(src="img/product-big.png" alt="")
        .product__right
          h1.h1 Плита индукционная AIRHOT IP3500 
          .product__artikul Код товара: 74967
          .product__info
            .product__price 8 926 руб.
            .product__available В наличии
          .product__about
            p Плита индукционная AIRHOT IP3500 подходит для всех типов кухонь, удобна на презентациях и мероприятиях выездного обслуживания. Тепло передается напрямую ко дну посуды, не нагревая конфорку, благодаря чему плита расходует меньше энергии.
            ul
              li 13 уровней мощности
              li Электронная панель управления
              li 2 вентилятора
              li 10 температурных режимов
          .product__buttons
            a.button.button_bordered(href="") В корзину
            a.button-favorite(href="")
      .product__tabs
        .tabs
          ul
            li 
              img(src="./img/settings.png" alt="") 
              | Описание и технические характеристики
            li 
              img(src="./img/delivery-truck.png" alt="") 
              | Оплата и доставка
          div
            div
              .product-options
                .product-options-column
                  .product-option
                    .product-option__left Габариты нетто ....................
                    .product-option__right 55x432x103мм,
                  .product-option
                    .product-option__left Габариты брутто ..................
                    .product-option__right 355x432x103мм
                  .product-option
                    .product-option__left Напряжение ..........................
                    .product-option__right 220В,
                  .product-option
                    .product-option__left Мощность  ..............................
                    .product-option__right 3,5кВт
                  .product-option
                    .product-option__left Вес нетто  ...............................
                    .product-option__right x
                  .product-option
                    .product-option__left Вес брутто
                    .product-option__right x
                .product-options-column
                  p
                    strong Описание:
                  p Материал корпуса:
                    strong нержавеющая сталь
                  p Температурный режим (°С):
                    strong +60/+240
                  p Макс. рекомендованная нагрузка:
                    strong 30кг
                  p Страна происхождения:
                    strong Китай
            div
              | Оплата и доставка


