.order-detail {
  display: flex;
  gap: 4rem;
  align-items: flex-start;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
  &__left {
    flex: 1;
  }
  &__right {
    width: 39.2rem;
    border: 1px solid #e4e6e9;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__block {
    margin-bottom: 2rem;
    border: 1px solid #e4e6e9;
  }
  &__block-title {
    display: flex;
    align-items: center;
    height: 6.1rem;
    background: #f6f6f6;
    padding: 0 2.4rem;
    gap: 1.8rem;
    .change-link {
      margin-left: auto;
      text-decoration: underline;
      font-size: 1.4rem;
      line-height: 2.6rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: bold;
  }
  &__count {
    @include flexcc;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
    background: $color-primary;
    flex: none;
  }
  &__block-body {
    padding: 2rem 3rem 3rem 3rem;
    border-top: 1px solid #e4e6e9;
  }
  &__block-field {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__block-label {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    sup {
      color: red;
    }
  }

  &__block-input {
    position: relative;
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      height: 5rem;
      border: 1px solid #e4e6e9;
      padding: 0 2rem;
      background: #f6f6f6;
      width: 100%;
      font-size: 1.6rem;
    }
    textarea {
      border: 1px solid #e4e6e9;
      padding: 2rem;
      background: #f6f6f6;
      width: 100%;
      height: 12.5rem;
    }
    &_search {
      input[type="text"] {
        padding-left: 5.6rem;
        background: url(../img/loupe.png) 2.1rem center no-repeat #f6f6f6;
        background-size: 1.6rem;
        padding-right: 4rem;
      }
      .clear-input {
        background: url(../img/cross-sign.png) center center no-repeat;
        width: 1rem;
        height: 1rem;
        background-size: contain;
        position: absolute;
        top: 2rem;
        right: 2.4rem;
        cursor: pointer;
        background-size: 1rem;
      }
    }
  }
  &__options {
    padding: 2.2rem 2.9rem;
    font-size: 1.8rem;
    border-bottom: 2px solid #e4e6e9;
  }
  &__option {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }
    &-dots {
      flex: 1;
      border-bottom: 1px dotted $color-text;
    }
  }
  &__itog {
    padding: 2.2rem 2.9rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  &__item-top,
  &__item {
    display: grid;
    // grid-template-columns:
    //   minmax(min-content, 46.5rem) minmax(min-content, 8rem)
    //   minmax(min-content, 13rem) minmax(min-content, 12rem) auto;
    grid-template-columns: 40% 15% 15% 15% 15%;
    text-align: center;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
  &__item-top {
    font-size: 1.4rem;
    line-height: 1em;
    padding: 1.3rem 0;
    text-align: center;
    border-bottom: 1px solid #e4e6e9;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__item {
    padding: 1.8rem 0;
    font-size: 1.8rem;
  }
  &__item-name {
    padding: 0 2.4rem;
    text-align: left;
    display: flex;
    gap: 2.5rem;
  }
  &__item-img {
    max-width: 14.5rem;
  }
  &__item-link {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  &__item-artikul {
    font-size: 1.6rem;
    color: #8d9298;
  }
  .custom-checkbox {
    margin-bottom: 3rem;
  }
  .custom-radio:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
