$font: "Geometria";
$color-text: #000000;
$color-primary: #0091df;
$color-second: #ff4646;
$color-link: #3a3839;

$color-menu-bg: #c5d86d;
$color-border: #e7e7e7;
$color-footer-bg: #f6f6f6;
$color-footer-text: #6a6a6a;
